<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EventStoreSubscriptionConfiguration" type="AppliedSystems.Configuration.XmlSerializerSectionHandler, AppliedSystems.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.;Initial Catalog=RiskCaptureDemo.DataWarhouse;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <EventStoreSubscriptionConfiguration>
    <Url>tcp://admin:changeit@localhost:1113</Url>
    <UserCredentials>
      <User>admin</User>
      <Password>changeit</Password>
    </UserCredentials>
  </EventStoreSubscriptionConfiguration>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>