<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DocumentsProcessConfiguration" type="AppliedSystems.Configuration.XmlSerializerSectionHandler, AppliedSystems.Configuration" />
    <section name="EventStoreSubscriptionConfiguration" type="AppliedSystems.Configuration.XmlSerializerSectionHandler, AppliedSystems.Configuration" />
  </configSections>
  <DocumentsProcessConfiguration>
    <DocumentsUrl>http://localhost/Documents/messaging</DocumentsUrl>
    <RiskCaptureUrl>http://localhost/RiskCaptureRequests</RiskCaptureUrl>
  </DocumentsProcessConfiguration>
  <EventStoreSubscriptionConfiguration>
    <Url>tcp://admin:changeit@localhost:1113</Url>
    <UserCredentials>
      <User>admin</User>
      <Password>changeit</Password>
    </UserCredentials>
  </EventStoreSubscriptionConfiguration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.;Initial Catalog=RiskCaptureDemo.Documents;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>